<div id="header">
<h1>HopperFlow</h1>
<div id="controls">
<input onclick="javascript:hopper2item();" value="Hopper->Item" type="button">
<input onclick="javascript:item2hopper();" value="Hopper<-Item" type="button">
<input onclick="javascript:hopperOrForm(false);" value="Show Form" type="button" id="hopperOrForm">
<br>
<input onclick="javascript:toggleposted();" value="Toggle posted" type="button">
</div>
</div>
<p id="notice"><%= notice %></p>
<p>
  <strong>Dirpath:</strong>
  <%= @directory.dirpath %>
</p>

<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>


<div id="wrapper">
<!--
                  
                  
                  Posted Column
                  
                  
               -->
<div class="column" style="display: none;" id="postedcolumn">
<h2>Posted items (<span id="postedcount"></span>)</h2>
<div id="postedgroup"></div>
</div>
<!--
                  
                  
                  Hopper Column
                  
                  
               -->
<div class="column" id="hoppercolumn">
<h2 id="hopperh2">Hopper (<span id="hoppercount"></span>)</h2>
<h2 id="formh2">Item <span id="itemid-span"></span>
</h2>



<ul class="pagelist" id="hopperlist">

	<% @images.each do |image| 
	@image = image %>

<li class="page" id="row-<%= @image.id %>">
<ul class="pageimages">
<li id="i<%= @image.id %>" class="front image">
<%= render 'images/form' %>
</li>
</ul>
</li>

<% end %>
<!--
                     
                     
                     Form (within hopper column)
                     
                     
                  -->
<ul style="display: none;" id="formlist"></ul>

</div>
<!--
                  
                  
                  Item Column
                  
                  
               -->
<div class="column" id="itemcolumn">
<h2>Item (<span id="itemcount"></span>) <span id="bundlecount"></span>
</h2>
<%= render 'documents/form' %>
<ul class="pagelist" id="itemlist"></ul>
<input value="" id="itemhome" type="hidden">
</div>
<!--
                  
                  
                  Image Column
                  
                  
               -->
<div class="column" id="imagecolumn">
<h2>Images (<span id="imagecount"></span>)</h2>
<ul id="imagelist"></ul>
</div>
</div>
