<h1>HopperFlow</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Dirpath:</strong>
  <%= @directory.dirpath %>
</p>

<h2>Images</h2>
<table>
	<% @images.each do |image| %>
	<tr>
		<td><%= link_to image do %><%= image.basename %><%= image.extension %><% end %> <br>
		<%= image.width %>x<%= image.height %> - <%= image.size %> bytes</td>
		
		<td><%= link_to image.display_path() do %>
		<%= image_tag image.thumb_path(), alt: image.basename %>
		<% end %></td>
	</tr>	
	<% end %>
</table>
<%= link_to 'Edit', edit_directory_path(@directory) %> |
<%= link_to 'Back', directories_path %>
