<%= form_for :document, remote: true, format: :json, url: documents_path do |f| %>
    <%= f.submit %> <input type="reset">
<%= f.hidden_field :source, :value => "" %>
<%= f.hidden_field :folder, :value => "" %>
<%= f.hidden_field :bundleid, :value => "0" %>
<%= f.hidden_field :bundlenum, :value => "0" %>
<%= f.hidden_field :itemid, :value => "" %>
  <div class="field">
    <%= f.label :pages %><br>
    <%= f.number_field :pages %>

    <%= f.label :ocr %><br>
    <%= f.check_box :ocr %>
    <%= f.label :adjust %><br>
    <%= f.check_box :adjust %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :creator %><br>
    <%= f.text_field :creator %>
  </div>
  <div class="field">
    <%= f.label :addressee %><br>
    <%= f.text_field :addressee %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
    <%= f.label :copytype %><br>
    <%= f.text_field :copytype %>
  </div>
  <div class="field">
    <%= f.label :script %><br>
    <%= f.number_field :script %>
    <%= f.label :envelope %><br>
    <%= f.check_box :envelope %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="field">
    <%= f.label :answers %><br>
    <%= f.text_field :answers %>
    <%= f.label :answeredby %><br>
    <%= f.text_field :answeredby %>
  </div>
  <div class="field">
    <%= f.label :hascopy %><br>
    <%= f.text_field :hascopy %>
    <%= f.label :copyof %><br>
    <%= f.text_field :copyof %>
  </div>
<% end %>
