<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @document.source %>
</p>

<p>
  <strong>Folder:</strong>
  <%= @document.folder %>
</p>

<p>
  <strong>Bundleid:</strong>
  <%= @document.bundleid %>
</p>

<p>
  <strong>Bundlenum:</strong>
  <%= @document.bundlenum %>
</p>

<p>
  <strong>Itemid:</strong>
  <%= @document.itemid %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @document.pages %>
</p>

<p>
  <strong>Ocr:</strong>
  <%= @document.ocr %>
</p>

<p>
  <strong>Adjust:</strong>
  <%= @document.adjust %>
</p>

<p>
  <strong>Date:</strong>
  <%= @document.date %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @document.creator %>
</p>

<p>
  <strong>Addressee:</strong>
  <%= @document.addressee %>
</p>

<p>
  <strong>Type:</strong>
  <%= @document.type %>
</p>

<p>
  <strong>Copytype:</strong>
  <%= @document.copytype %>
</p>

<p>
  <strong>Script:</strong>
  <%= @document.script %>
</p>

<p>
  <strong>Envelope:</strong>
  <%= @document.envelope %>
</p>

<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @document.summary %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @document.notes %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @document.tags %>
</p>

<p>
  <strong>Answers:</strong>
  <%= @document.answers %>
</p>

<p>
  <strong>Answeredby:</strong>
  <%= @document.answeredby %>
</p>

<p>
  <strong>Hascopy:</strong>
  <%= @document.hascopy %>
</p>

<p>
  <strong>Copyof:</strong>
  <%= @document.copyof %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
