<%= form_for(@image, remote: true, format: :json, html: {class: :image_form}) do |f| %>
 <div id="error_explanation" style='display:none;'>
    <ul>
      <% if @image.errors.any? %>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

Left <%= f.radio_button :modify, "left" %> |
Right <%= f.radio_button :modify, "right" %> 

<br>
Flip <%= f.radio_button :modify, "flip" %> |
Delete <%= f.radio_button :modify, "del" %> 

<br>
As is <%= f.radio_button :modify, "asis" %> 

<br>

Deskew <%= f.check_box :deskew %> | 
Split <%= f.check_box :split %>
		
<input value="i<%= @image.id %>" name="handled" type="hidden">
         	
<%= f.submit nil, class: "image_submit" %>

<% end %>
