<p id="notice"><%= notice %></p>

<p>
  <strong>Basename:</strong>
  <%= @image.basename %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @image.extension %>
</p>

<p>
  <strong>Width:</strong>
  <%= @image.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @image.height %>
</p>

<p>
  <strong>Size:</strong>
  <%= @image.size %>
</p>

<p>
  <strong>Directory:</strong>
  <%= @image.directory.dirpath %>
</p>

<p>
  <strong>Modify:</strong>
  <%= @image.modify %>
</p>

<p>
  <strong>Deskew:</strong>
  <%= @image.deskew %>
</p>

<p>
  <strong>Split:</strong>
  <%= @image.split %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
